:root {
	font-size: 18px;
	font-family: "Poppins", sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: rgb(197, 214, 221);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 0.8rem;
	background-color: #335384;
	color: #6bafd5;
}
main {
	display: flex;
	padding: 1rem;
	gap: 1rem;
	justify-content: space-evenly;
}

.CV-form {
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 600px;
	box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
textarea,
input {
	display: block;
	border: solid 1px #dfe0e0;
	border-radius: 2px;
	font-family: "Poppins", sans-serif;
	font-size: 0.75rem;
}

.heading {
	color: #335384;
	border-bottom: solid 2px #335384;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

.heading-white {
	color: white;
	border-bottom: solid 2px white;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

button {
	padding: 8px;
	border-radius: 5px;
	border: none;
}
.deleteBtn {
	background-color: rgb(247, 60, 60);
	color: white;
}
.addBtn {
	background-color: #335384;
	color: white;
}
.previewBtn {
	position: fixed;
	bottom: 8px;
	right: 8px;
	border-radius: 14px;
	background-color: #335384;
	color: white;
}

.preview {
	display: grid;
	background-color: rgb(8, 53, 138);
	grid-template-columns: 300px 2fr;
	grid-template-rows: 180px 800px;
	width: 800px;
	height: 900px;
	box-sizing: border-box;
}

.preview > div {
	padding: 0.8rem;
}
.upper-left,
.lower-left {
	background-color: #335384;
	color: white !important;
}
.upper-right,
.lower-right {
	background-color: white;
	color: #16263d;
}

.profile-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: cornsilk;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: auto;
}
.profile-photo img {
	height: 150px;
	width: 150px;
	line-height: 150px;
	text-align: center;
}

#banner {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#banner > * {
	text-align: center;
	box-sizing: border-box;
	color: #335384;
	margin: 0;
}
#banner h1 {
	width: 390px;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: solid 2px #335384;
}

.about-me {
	font-size: 0.9rem;
}

#contacts img {
	height: 1rem;
	width: 1rem;
	margin-right: 3px;
	margin-bottom: 10px;
}

.contacts {
	display: flex;
	font-size: 0.75rem;
}
ul {
	font-size: 0.9rem;
	list-style-position: inside;
	padding-left: 0;
}
li {
	margin: 0;
}

.group-box {
	display: block;
	border-left: 4px solid #6bafd5;
	padding: 5px;
	padding-left: 10px;
	gap: 1rem;
	margin-bottom: 7px;
}

.upper-box {
	font-weight: 700;
	font-size: 0.9rem;
}

.middle-box {
	font-size: 0.8rem;
	font-style: italic;
}
.lower-box {
	font-size: 0.6rem;
}

footer {
	background-color: #335384;
}
